<section class="category" id="categories">
        <section id ="div4">
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Art>
                <label for="Art">Art</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Biography>
                <label for="Biography">Biography</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Business>
                <label for="Business">Business</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Children>
                <label for="Children">Children</label>
                </div>
        </section>

        <section id ="div4">
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Fantasy>
                <label for="Fantasy">Fantasy</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Fiction>
                <label for="Fiction">Fiction</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=History>
                <label for="History">History</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Horror>
                <label for="Horror">Horror</label>
                </div>
        </section>
        <section id ="div4">
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Non-fiction>
                <label for="Non-fiction">Non-fiction</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Poetry>
                <label for="Poetry">Poetry</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Psychology>
                <label for="Psychology">Psychology</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Romance>
                <label for="Romance">Romance</label>
                </div>
        </section>
        <section id ="div4">
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Science>
                <label for="Science">Science</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Sci-Fi>
                <label for="Sci-Fi">Sci-Fi</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value='Self Help'>
                <label for="Self Help">Self Help</label>
                </div>
                
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Sports>
                <label for="Sports">Sports</label>
                </div>
        </section>
        <section id ="div4"> 
                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Thriller>
                <label for="Thriller">Thriller</label>
                </div>

                <div id="div">
                <input type='checkbox' name='category' id='checkbox' value=Travel>
                <label for="Travel">Travel</label>
                </div id="div">

                <div id="div"> 
                <input type='checkbox' name='category' id='checkbox' value=War>
                <label for="War">War</label>
                </div>
        </section>
</section>