<section class="category">
    
    <input type='checkbox' name='category' id='Art' value=Art>
    <label for="Art">Art</label>

    <input type='checkbox' name='category' id='Biography' value=Biography>
    <label for="Biography">Biography</label>

    <input type='checkbox' name='category' id='Business' value=Business>
    <label for="Business">Business</label>

    <input type='checkbox' name='category' id='Children' value=Children>
    <label for="Children">Children</label>

    <input type='checkbox' name='category' id='Fantasy' value=Fantasy>
    <label for="Fantasy">Fantasy</label>

    <input type='checkbox' name='category' id='Fiction' value=Fiction>
    <label for="Fiction">Fiction</label>

    <input type='checkbox' name='category' id='History' value=History>
    <label for="History">History</label>

    <input type='checkbox' name='category' id='Horror' value=Horror>
    <label for="Horror">Horror</label>

    <input type='checkbox' name='category' id='Non-fiction' value=Non-fiction>
    <label for="Non-fiction">Non-fiction</label>

    <input type='checkbox' name='category' id='Poetry' value=Poetry>
    <label for="Poetry">Poetry</label>

    <input type='checkbox' name='category' id='Psychology' value=Psychology>
    <label for="Psychology">Psychology</label>

    <input type='checkbox' name='category' id='Romance' value=Romance>
    <label for="Romance">Romance</label>

    <input type='checkbox' name='category' id='Science' value=Science>
    <label for="Science">Science</label>

    <input type='checkbox' name='category' id='Sci-Fi' value=Sci-Fi>
    <label for="Sci-Fi">Sci-Fi</label>

    <input type='checkbox' name='category' id='Self Help' value='Self Help'>
    <label for="Self Help">Self Help</label>

    <input type='checkbox' name='category' id='Sports' value=Sports>
    <label for="Sports">Sports</label>

    <input type='checkbox' name='category' id='Thriller' value=Thriller>
    <label for="Thriller">Thriller</label>

    <input type='checkbox' name='category' id='Travel' value=Travel>
    <label for="Travel">Travel</label>

    <input type='checkbox' name='category' id='War' value=War>
    <label for="War">War</label>
</section>