{% extends 'base.html' %}

{% block content %}

<body>

<script src="static/script.js"></script>
    
<h1>Create a review</h1>

<section>
    <form action="/createreview" method="POST" onsubmit="return checkForEmptyFields(this)">
        <label for="book_name">Book name:</label>
        <input type="text" name="book_name" id="book_name">
        <br>
        <label for="category">Categories (choose many):</label>
        {% include 'categories.html'%}
        <br>
        <label for="stars">Rating:</label>
        <section class="rating" id="rating">
            <input type='radio' name='stars' id='one' value=1>
            <label for="one">1</label>
            <input type='radio' name='stars' id='two' value=2>
            <label for="two">2</label>
            <input type='radio' name='stars' id='three' value=3>
            <label for="three">3</label>
            <input type='radio' name='stars' id='four' value=4>
            <label for="four">4</label>
            <input type='radio' name='stars' id='five' value=5>
            <label for="five">5</label> stars
        </section>
        <br>
        <label for='review-text'>Write a review (optional):</label>
        <br>
        <textarea name='review-text' id='review-text' cols='50' rows='12'></textarea>
        <br>
        <input type="submit" value="Submit review" class="Button">
        <input type='hidden' name='csrf_token' value={{ session.csrf_token }}>
    </form>
</section>
    
</body>
{% endblock %}