{% extends 'base.html' %}

{% block content %}
<body>
    <header>
        <h1>Welcome!</h1>
        <h2>This is the home page...</h2>    
        
        <section class='container'>
            <h2>Reviews</h2>
            <ul>
                {% for review in reviews %}
                {% endfor %}
            </ul>
        </section> 
        <hr>   
    </header>
    <section>
        <a href="/search" class="button">Search</a>
    </section>
    <section>
        {% if session.user_id %}
        <a href="/createreview" class="button">Create a review</a>
        {% else %}
        To create a review, you must be logged in.
        {% endif %}
    </section>
    
    
</body>
{% endblock %}