{% extends 'base.html' %}

{% block content %}
<body>
    <h2>Welcome!</h2>

    <section class="">
        <a href="/search" class="container" id="hover">Search</a>
    </section>

    <section class="">
        {% if session.user_id %}
        <a href="/createreview" class="container" id="hover">Create a review</a>
        {% else %}
        To create a review, you must be logged in.
        {% endif %}
    </section class= 'container'>
    <hr>
    <section class='container' id="inline">
        <div>
        <h2>Top-5 best reviewed books</h2>
            <ul>
                {% if books %}
                {% for book in books %}
                    <section class="container" >
                        <ul>
                            <p class="button">
                                <strong>Book: </strong> <a href="/result/{{ book.name }}/{{ book.avg }}" class="book" id="hover" name="query_by_book_name">{{ book.name }} </a><strong>stars: </strong> {{ book.avg }}
                                <strong>Reviews: </strong> {{ book.cnt }}
                            </p>

                        </ul>
                    </section>
                {% endfor %}
                {% else %}
                    <p>No reviews yet</p>
                {% endif %}
            </ul>
        </div>
        <!-- NOT READY YET 
            <div>
            <h2>Most reviewed books</h2>
            <ul>
                {% if books2 %}
                {% for book in books2 %}
                    <section class="container" >
                        <ul>
                            <p class="button">
                                <strong>Book: </strong> <a href="/result/{{ book.name }}/{{ book.avg }}" class="book" id="hover" name="query_by_book_name">{{ book.name }} </a><strong>stars: </strong> {{ book.avg }}
                                <strong>Reviews: </strong> {{ book.cnt }}
                            </p>

                        </ul>
                    </section>
                {% endfor %}
                {% else %}
                    <p>No reviews yet</p>
                {% endif %}
            </ul>
        </div> -->
    </section>    
</body>
{% endblock %}