{% extends 'base.html' %}

{% block content %}


<body>

<script src="static/script.js"></script>

<h2>Search for a book</h2> 
<section class='container'>
    <h3>Search By Name: </h3>
    <form action="/result" method='GET'>
      <input type="text" name="query_by_name" id="text-input" placeholder="Name of the book">
      <input type="submit" value="Search" id="login">
    </form>
</section>
<br>
<section class="container">
    <h3>By Category: </h3>
    <form action="/result" method="POST" onsubmit="return checkForEmptyCategories()">
        {% include 'categories.html'%}
        <input type="submit" value="Search" id="login">
    </form>
</section>
  
</body>
{% endblock %}